<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/navbarResponsive.css">
</head>
<body>
    <%- include('includes/navbar.ejs') %>
    <form action="/profile/edit/change/password/<%=currUser.studId%>?_method=PUT" method="post" id="profileChangePasswordForm">
        <div class="profileChangePasswordFormControl">
            <label for="oldPassword">Old Password</label>
            <input type="password" name="oldPassword" id="oldPassword">
        </div>
        <div class="profileChangePasswordFormControl">
            <label for="newPassword">New Password</label>
            <input type="password" name="newPassword" id="newPassword">
        </div>
        <button id="ChangePasswordBtn" type="submit">Change Password</button>
    </form>
    <script src="/js/navbar.js"></script>
</body>
</html>