<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/chart.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/navbarResponsive.css">
</head>
<body>
    <%- include('includes/navbar.ejs') %>
    <div id="chartMainContainer">
        <div id="chartContainer">
            <canvas id="myChart"></canvas>
          </div>
        <div id="chartButtonsContainer">
            <button onclick="changeBarType(this,createChart)">Bar Chart</button>
            <button onclick="changeBarType(this,createChart)">Pie Chart</button>
            <button onclick="changeBarType(this,createChart)">Line Chart</button>
        </div>
    </div>

    <script>
        const chartLabel = <%-JSON.stringify(labels)%>
        const chartData = <%-JSON.stringify(data)%>
    </script> 
    <script src="https://kit.fontawesome.com/7e49fc305e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/chart.js"></script>
    <script src="/js/navbar.js"></script>
</body>
</html>