<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/createNewProfileForm.css">
    <link rel="stylesheet" href="/css/messageBox.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/navbarResponsive.css">   
</head>

<body>
    <%- include('includes/navbar.ejs') %>
    <%- include('includes/messageBox.ejs') %> 

        <div id="createNewProfileMainContainer">
            <form action="/profile/new" method="post" enctype="multipart/form-data" id="createNewProfileForm">
                <div class="createNewProfileFormBox createNewProfileFormBox0">
                    <p>CREATE NEW PROFILE</p>
                </div>
                <div class="createNewProfileFormBox createNewProfileFormBox1">
                    <p>STUDENT NAME</p>
                    <input type="text" name="studName">
                </div>
                <div class="createNewProfileFormBox createNewProfileFormBox1">
                    <p>CREATE PASSWORD</p>
                    <input type="password" name="password">
                </div>
                <div class="createNewProfileFormBox createNewProfileFormBox1">
                    <p>MOBILE NUMBER</p>
                    <input type="number" name="studMobile">
                </div>
                <div class="createNewProfileFormBox createNewProfileFormBox2">
                    <div>
                        <p>BRANCH</p>
                        <select name="studBranch" id="studBranch">
                            <option value="information technology">INFORMATION TECHNOLOGY</option>
                            <option value="computer engineering">COMPUTER ENGINEERING</option>
                            <option value="mechanical engineering">MECHANICAL ENGINEERING</option>
                        </select>
                    </div>
                    <div>
                        <p>COURSE</p>
                        <select name="studCourse" id="studCourse">
                            <option value="diploma">DIPLOMA</option>
                            <option value="degree">DEGREE</option>
                        </select>
                    </div>
                </div>
                <div class="createNewProfileFormBox createNewProfileFormBox3">
                    <div>
                        <p>ENROLLMENT NO</p>
                        <input type="number" name="studEnrollNo" id="studEnrollNo">
                    </div>
                    <div>
                        <p>YEAR</p>
                        <select name="studYear" id="studYear">
                            <option value="FY">FY</option>
                            <option value="SY">SY</option>
                            <option value="TY">TY</option>
                        </select>
                    </div> 
                </div>
                <div class="createNewProfileFormBox createNewProfileFormBox4">
                    <p>UPLOAD YOUR PROFILE PHOTO</p>
                    <input type="file" name="studPic" required>
                </div>
                <button type="submit" id="createNewProfileBtn">CREATE</button> 
            </form>
        </div>
 
        <script src="https://kit.fontawesome.com/7e49fc305e.js" crossorigin="anonymous"></script>
        <script src="/js/navbar.js"></script>
        <script src="/js/createNewProjectForm.js"></script>
        <script src="/js/messageBox.js"></script>
</body>

</html>