<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/projectImgsGallery.css">
</head>
<body>
    <div id="projectImgsGalleryMainContainer">
        <h1>project images</h1>
        <div id="projectImgsContainer">
            <%for(projectImg of projectImages.projectImgs) {%>
                <img src="<%=projectImg%>" class="projectImg" alt="project image">
            <%}%>
        </div>
    </div>
</body> 
</html>