@media screen and (max-width:700px) {
    #editProfileBox1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 0px;
        row-gap: 20px;
        padding: 10px 5px;
    }

    #editProfileBox1>img {
        width: 150px;
        height: 150px;
        margin-left: 0px;
    }

    #editProfilePicForm {
        margin-left: 0px;
        align-items: center;
        padding: 2px 5px;
        width: 100%;
    }

    #editProfilePicForm>input {
        font-size: 1rem;
        width: 85%;
    }

    #editProfilePicForm>button {
        padding: 5px 10px;
        font-size: 1rem;
        width: 100px;
    }

    .editProfileInnerBox4>button {
        padding: 2px;
        cursor: pointer;
        font-size: 1.2rem;
    }

    #editProfileBox2 {
        padding: 20px 5px;
        row-gap: 10px 5px;
        width: 100%;
    }

    #editProfileBox2>div {
        padding: 5px 10px;
        font-size: 1.2rem;
    }

    .editProfileInnerBox1>input {
        font-size: 1.2rem;
    }

    .editProfileInnerBox2>div>select {
        font-size: 1.1rem;
    }

    .editProfileBox3 {
        padding: 10px 5px;
        margin-bottom: 20px;
    }

    .editProfileBox3InnerBox1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 10px;
        padding: 10px 5px;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .editProfileBox3InnerBox1>p {
        font-size: 1.3rem;
    }

    #languageForm {
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #languageForm>input {
        padding-left: 5px;
        border: none;
        font-size: 1.2rem;
        width: 90%;
    }

    #languageForm>button {
        padding: 2px 5px;
        font-size: 1.2rem;
    }


    .editProfileBox3InnerBox2 {
        padding: 5px 2px;
    }

    .languages {
        padding: 5px 10px;
        margin: 5px;
    }

    #editProfileBox4 {
        padding: 10px 5px;
        width: 100%;
    }

    .editProfileBox4InnerBox1 {
        font-size: 1.3rem;
        padding-bottom: 5px;
    }

    .editProfileBox4InnerBox2 {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .projectBox {
        font-size: 1.2rem;
    }

    .projectBox>button {
        padding: 2px 5px;
        cursor: pointer;
    }

    /* eidt resume section */

    #editResumeSection {
        padding: 10px 5px;
        margin-bottom: 20px;
    }

    #editResumeSection>p {
        font-size: 1.3rem;
    }

    .editResumeSecionFormInnerBox1 {
        margin-right: 15px;
    }

    .editResumeSecionFormInnerBox1>img {
        width: 70px;
        height: 70px;
    }

    .editResumeSecionFormInnerBox2 {
        padding: 5px 5px;
        border-radius: 30px;
        position: relative;
        width: 60%;
    }

    .editResumeSecionFormInnerBox2>input {
        width: 60%;
        font-size: 1.2rem;
    }

    .editResumeSecionFormInnerBox2>button {
        cursor: pointer;
        position: absolute;
        right: 5px;
        font-size: 1.2rem;
    }

    .deleteResumeImgForm {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .deleteResumeImgBtn {
        padding: 2px;
        margin-bottom: 5px;
        margin-right: 5px;
        width: 70px;
        font-size: 1.2rem;
    }

    #deleteUserAccountBtn {
        font-size: 1.2rem;
    }
}